meta/DesignDataPackage/schema/avm.schematic.eda.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns:avm="avm" xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" xmlns:eda="eda" xmlns:schematic="schematic" xmlns:xsd="http://www.w3.org/2001/XMLSchema" ecore:nsPrefix="eda" ecore:package="avm.schematic.eda" targetNamespace="eda">
  <xsd:import namespace="avm" schemaLocation="avm.xsd"/>
  <xsd:import namespace="schematic" schemaLocation="avm.schematic.xsd"/>
  <xsd:element ecore:ignore="true" name="EDAModel" type="eda:EDAModel"/>
  <xsd:element ecore:ignore="true" name="Parameter" type="eda:Parameter"/>
  <xsd:element ecore:ignore="true" name="PcbLayoutConstraint" type="eda:PcbLayoutConstraint"/>
  <xsd:element ecore:ignore="true" name="ExactLayoutConstraint" type="eda:ExactLayoutConstraint"/>
  <xsd:element ecore:ignore="true" name="RangeLayoutConstraint" type="eda:RangeLayoutConstraint"/>
  <xsd:element ecore:ignore="true" name="RelativeLayoutConstraint" type="eda:RelativeLayoutConstraint"/>
  <xsd:element ecore:ignore="true" name="RelativeRangeLayoutConstraint" type="eda:RelativeRangeLayoutConstraint"/>
  <xsd:element ecore:ignore="true" name="GlobalLayoutConstraintException" type="eda:GlobalLayoutConstraintException"/>
  <xsd:element ecore:ignore="true" name="CircuitLayout" type="eda:CircuitLayout"/>
  <xsd:complexType name="EDAModel">
    <xsd:complexContent>
      <xsd:extension base="schematic:SchematicModel">
        <xsd:sequence>
          <xsd:element ecore:name="Parameter" ecore:resolveProxies="true" maxOccurs="unbounded" minOccurs="0" name="Parameter" type="eda:Parameter"/>
        </xsd:sequence>
        <xsd:attribute ecore:name="Library" name="Library" type="xsd:string"/>
        <xsd:attribute ecore:name="DeviceSet" name="DeviceSet" type="xsd:string"/>
        <xsd:attribute ecore:name="Device" name="Device" type="xsd:string"/>
        <xsd:attribute ecore:name="Package" name="Package" type="xsd:string"/>
        <xsd:attribute default="false" ecore:name="HasMultiLayerFootprint" ecore:unsettable="false" name="HasMultiLayerFootprint" type="xsd:boolean"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Parameter">
    <xsd:complexContent>
      <xsd:extension base="avm:DomainModelParameter">
        <xsd:sequence>
          <xsd:element ecore:name="Value" ecore:resolveProxies="true" minOccurs="0" name="Value" type="avm:Value"/>
        </xsd:sequence>
        <xsd:attribute ecore:name="Locator" name="Locator" type="xsd:string" use="required"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType abstract="true" name="PcbLayoutConstraint">
    <xsd:complexContent>
      <xsd:extension base="avm:ContainerFeature">
        <xsd:attribute ecore:name="XPosition" name="XPosition" type="xsd:unsignedInt"/>
        <xsd:attribute ecore:name="YPosition" name="YPosition" type="xsd:unsignedInt"/>
        <xsd:attribute ecore:name="Notes" name="Notes" type="xsd:string"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="ExactLayoutConstraint">
    <xsd:complexContent>
      <xsd:extension base="eda:PcbLayoutConstraint">
        <xsd:attribute ecore:name="X" name="X" type="xsd:double"/>
        <xsd:attribute ecore:name="Y" name="Y" type="xsd:double"/>
        <xsd:attribute ecore:name="Layer" ecore:unsettable="false" name="Layer" type="eda:LayerEnum"/>
        <xsd:attribute ecore:name="Rotation" ecore:unsettable="false" name="Rotation" type="eda:RotationEnum"/>
        <xsd:attribute ecore:keys="ID" ecore:name="ConstraintTarget" ecore:reference="avm:ComponentInstance" name="ConstraintTarget">
          <xsd:simpleType>
            <xsd:list itemType="xsd:anyURI"/>
          </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute ecore:keys="ID" ecore:name="ContainerConstraintTarget" ecore:reference="avm:Container" name="ContainerConstraintTarget">
          <xsd:simpleType>
            <xsd:list itemType="xsd:anyURI"/>
          </xsd:simpleType>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="RangeLayoutConstraint">
    <xsd:complexContent>
      <xsd:extension base="eda:PcbLayoutConstraint">
        <xsd:attribute ecore:name="XRangeMin" name="XRangeMin" type="xsd:double"/>
        <xsd:attribute ecore:name="XRangeMax" name="XRangeMax" type="xsd:double"/>
        <xsd:attribute ecore:name="YRangeMin" name="YRangeMin" type="xsd:double"/>
        <xsd:attribute ecore:name="YRangeMax" name="YRangeMax" type="xsd:double"/>
        <xsd:attribute default="Either" ecore:name="LayerRange" ecore:unsettable="false" name="LayerRange" type="eda:LayerRangeEnum"/>
        <xsd:attribute ecore:keys="ID" ecore:name="ConstraintTarget" ecore:reference="avm:ComponentInstance" name="ConstraintTarget">
          <xsd:simpleType>
            <xsd:list itemType="xsd:anyURI"/>
          </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute ecore:keys="ID" ecore:name="ContainerConstraintTarget" ecore:reference="avm:Container" name="ContainerConstraintTarget">
          <xsd:simpleType>
            <xsd:list itemType="xsd:anyURI"/>
          </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute ecore:name="Type" ecore:unsettable="false" name="Type" type="eda:RangeConstraintTypeEnum"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="RelativeLayoutConstraint">
    <xsd:complexContent>
      <xsd:extension base="eda:PcbLayoutConstraint">
        <xsd:attribute ecore:name="XOffset" name="XOffset" type="xsd:double"/>
        <xsd:attribute ecore:name="YOffset" name="YOffset" type="xsd:double"/>
        <xsd:attribute ecore:keys="ID" ecore:name="ConstraintTarget" ecore:reference="avm:ComponentInstance" name="ConstraintTarget">
          <xsd:simpleType>
            <xsd:list itemType="xsd:anyURI"/>
          </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute ecore:keys="ID" ecore:name="Origin" ecore:reference="avm:ComponentInstance" name="Origin" type="xsd:anyURI" use="required"/>
        <xsd:attribute ecore:keys="ID" ecore:name="ContainerConstraintTarget" ecore:reference="avm:Container" name="ContainerConstraintTarget">
          <xsd:simpleType>
            <xsd:list itemType="xsd:anyURI"/>
          </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute ecore:name="RelativeLayer" ecore:unsettable="false" name="RelativeLayer" type="eda:RelativeLayerEnum"/>
        <xsd:attribute ecore:name="RelativeRotation" ecore:unsettable="false" name="RelativeRotation" type="eda:RelativeRotationEnum"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:simpleType name="RotationEnum">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="r0"/>
      <xsd:enumeration value="r90"/>
      <xsd:enumeration value="r180"/>
      <xsd:enumeration value="r270"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="LayerEnum">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Top"/>
      <xsd:enumeration value="Bottom"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="LayerRangeEnum">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration ecore:value="2" value="Either"/>
      <xsd:enumeration ecore:value="0" value="Top"/>
      <xsd:enumeration ecore:value="1" value="Bottom"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="RelativeLayerEnum">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Same"/>
      <xsd:enumeration value="Opposite"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="RangeConstraintTypeEnum">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Inclusion"/>
      <xsd:enumeration value="Exclusion"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="RelativeRangeLayoutConstraint">
    <xsd:complexContent>
      <xsd:extension base="eda:PcbLayoutConstraint">
        <xsd:attribute ecore:name="XRelativeRangeMin" name="XRelativeRangeMin" type="xsd:double"/>
        <xsd:attribute ecore:name="XRelativeRangeMax" name="XRelativeRangeMax" type="xsd:double"/>
        <xsd:attribute ecore:name="YRelativeRangeMin" name="YRelativeRangeMin" type="xsd:double"/>
        <xsd:attribute ecore:name="YRelativeRangeMax" name="YRelativeRangeMax" type="xsd:double"/>
        <xsd:attribute ecore:name="RelativeLayer" ecore:unsettable="false" name="RelativeLayer" type="eda:RelativeLayerEnum"/>
        <xsd:attribute ecore:keys="ID" ecore:name="ContainerConstraintTarget" ecore:reference="avm:Container" name="ContainerConstraintTarget">
          <xsd:simpleType>
            <xsd:list itemType="xsd:anyURI"/>
          </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute ecore:keys="ID" ecore:name="Origin" ecore:reference="avm:ComponentInstance" name="Origin" type="xsd:anyURI" use="required"/>
        <xsd:attribute ecore:keys="ID" ecore:name="ConstraintTarget" ecore:reference="avm:ComponentInstance" name="ConstraintTarget">
          <xsd:simpleType>
            <xsd:list itemType="xsd:anyURI"/>
          </xsd:simpleType>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="GlobalLayoutConstraintException">
    <xsd:complexContent>
      <xsd:extension base="eda:PcbLayoutConstraint">
        <xsd:attribute ecore:keys="ID" ecore:name="ConstraintTarget" ecore:reference="avm:ComponentInstance" name="ConstraintTarget">
          <xsd:simpleType>
            <xsd:list itemType="xsd:anyURI"/>
          </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute ecore:keys="ID" ecore:name="ContainerConstraintTarget" ecore:reference="avm:Container" name="ContainerConstraintTarget">
          <xsd:simpleType>
            <xsd:list itemType="xsd:anyURI"/>
          </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute ecore:name="Constraint" ecore:unsettable="false" name="Constraint" type="eda:GlobalConstraintTypeEnum" use="required"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:simpleType name="GlobalConstraintTypeEnum">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration ecore:value="1" value="BoardEdgeSpacing"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="RelativeRotationEnum">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="r0"/>
      <xsd:enumeration value="r90"/>
      <xsd:enumeration value="r180"/>
      <xsd:enumeration value="r270"/>
      <xsd:enumeration value="NoRestriction"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="CircuitLayout">
    <xsd:complexContent>
      <xsd:extension base="avm:DomainModel">
        <xsd:attribute ecore:name="BoundingBoxes" name="BoundingBoxes" type="xsd:string"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
</xsd:schema>
